<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Learn_homeList</key>
	<array>
		<string>识颜色</string>
		<string>识形状</string>
		<string>识数字</string>
		<string>识动物</string>
	</array>
	<key>Learn_ColorList</key>
	<array>
		<dict>
			<key>红色</key>
			<string>0.9765,0.0745,0.0039,1.0</string>
		</dict>
		<dict>
			<key>蓝色</key>
			<string>0.0941,0.5059,1.0,1.0</string>
		</dict>
		<dict>
			<key>黄色</key>
			<string>0.9984,0.9796,0.0112,1.0</string>
		</dict>
		<dict>
			<key>绿色</key>
			<string>0.2039,0.702,0.1098,1.0</string>
		</dict>
		<dict>
			<key>橙色</key>
			<string>0.9843,0.4431,0.0588,1.0</string>
		</dict>
		<dict>
			<key>紫色</key>
			<string>0.4194,0.0,0.4946,1.0</string>
		</dict>
	</array>
	<key>Learn_ShapeList</key>
	<array>
		<string>圆形</string>
		<string>正方形</string>
		<string>长方形</string>
		<string>梯形</string>
		<string>菱形</string>
		<string>三角形</string>
	</array>
	<key>Learn_NumberList</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
	</array>
	<key>Learn_LetterList</key>
	<array>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
	</array>
	<key>learn_AnimalList</key>
	<array>
		<string>狗</string>
		<string>猫</string>
		<string>鸡</string>
		<string>鸭</string>
		<string>猪</string>
		<string>羊</string>
		<string>牛</string>
		<string>马</string>
		<string>老鼠</string>
		<string>鹿</string>
	</array>
	<key>Learn_StoryList</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>content</key>
			<array>
				<dict>
					<key>imageName</key>
					<string></string>
					<key>contentMessage</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Listen_allList</key>
	<array>
		<dict>
			<key>睡前故事</key>
			<array>
				<dict>
					<key>title</key>
					<string>不爱洗澡的小猪</string>
					<key>content</key>
					<array>
						<dict>
							<key>text</key>
							<string>小猫正在玩小皮球，可好玩了，小猪看了以后也想和小猫一起玩，可是，小猪太脏了，他平时不爱洗澡，所以身上很脏，还有点臭，小猫有点不想和小猪玩，他有点嫌弃小猪，小朋友们，一定要注意卫生哦，不然就像小猪一样，不讲卫生对身体也不好，也没有人愿意和你一块玩耍。</string>
							<key>image</key>
							<string>不爱洗澡的小猪1</string>
						</dict>
						<dict>
							<key>text</key>
							<string>小猫正在玩小皮球，可好玩了，小猪看了以后也想和小猫一起玩，可是，小猪太脏了，他平时不爱洗澡，所以身上很脏，还有点臭，小猫有点不想和小猪玩，他有点嫌弃小猪，小朋友们，一定要注意卫生哦，不然就像小猪一样，不讲卫生对身体也不好，也没有人愿意和你一块玩耍。</string>
							<key>image</key>
							<string>不爱洗澡的小猪1</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>童话故事</key>
			<array>
				<dict>
					<key>title</key>
					<string>睡着的兔子</string>
					<key>icon</key>
					<string></string>
					<key>content</key>
					<dict/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>寓言故事</key>
			<array>
				<dict>
					<key>title</key>
					<string>漂亮的花仙子</string>
					<key>content</key>
					<dict/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
